Repository furrer-lab/abn, pull requests merged in 2024-07, with the labels that each got.

#119 dev: running code coverage with all tests
  .github/workflows/onlabel_CRAN_checks.yml
Labels: CRAN::passed

#122 on label install check mac & windows
  .github/workflows/onlabel_CRAN_checks.yml
  .github/workflows/onlabel_Macos_checks.yml
  .github/workflows/onlabel_Windows_checks.yml
  configure
  src/Makevars
  src/Makevars.in
Labels: CRAN::passed, macos::failed, windows::failed

#126 Detailed installation instructions
  .github/workflows/onlabel_CRAN_checks.yml
  .github/workflows/onlabel_Fedora_setup.yml
  .github/workflows/onlabel_Macos_setup.yml
  .github/workflows/onlabel_Ubuntu_setup.yml
  .github/workflows/onlabel_Windows_setup.yml
  DESCRIPTION
  README.md
  configure
  configure.ac
  src/Makevars
  src/Makevars.in
  vignettes/paper.md
Labels: documentation, CRAN::passed, macosInstall::passed, windowsInstall::passed, fedoraInstall::passed, ubuntuInstall::passed

#137 attempt to rebuild vignettes on label
  .github/workflows/onlabel_rebuild_vignettes.yml
  DESCRIPTION
  vignettes/benchmarkBoxPlot-1.png
  vignettes/data_simulation.Rmd
  vignettes/fit_model-1.png
  vignettes/multiprocessing.Rmd
  vignettes/multiprocessing.Rmd.orig
  vignettes/parameter_learning.Rmd
  vignettes/unnamed-chunk-3-1.png
  vignettes/unnamed-chunk-6-1.png
Labels: CompVignettes::passed
